<div class="container">
  <div id="intro" class="row section slant green overlay-sm scrollspyhook">
    <div class="content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 onclick="barrel_roll()">Brings 3D printing <br> to life</h1>

          <p>MakerGirl introduces young girls between the ages of 7-10 to Science, Technology, Engineering, Art, and Math (STEAM) through 3D printing educational sessions. All of our sessions teach young girls 3D printing, and also teach them about women leaders in STEM fields, innovative companies, cutting edge technology, and much more. We want every girl to be a MakerGirl and to come to our session and depart wanting to actively participate in any and all parts of STEM!</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
